<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title></title>
  
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--
  <script src="/socket.io/socket.io.js"></script>
  -->

  <!--
  <script src="common/js/common.js"></script>
  <script src="js/index.js"></script>
  -->

  <link rel="stylesheet" href="">
</head>

<body>
<div>Hello World</div>
</body>
</html>