test/socket/pack/system/gulp/bower_components
npm-debug.log
test/extension/screenshot
test/socket/pack/application/public/memorys
test/socket/pack/system/gulp/.sass-cache
scan-1510091624
scan-1510091622
