@charset "UTF-8";
section, nav, article, aside, hgroup, header, footer, figure, figcaption, details {
  display: block;
}

video, audio, canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin: 0;
}

p, blockquote, dl, dd, figure {
  margin: 0;
}

hr {
  color: inherit;
  height: auto;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

pre {
  font-family: monospace, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

ol, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

strong, b {
  font-weight: bold;
}

small {
  font-size: 0.83em;
}

q {
  quotes: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

code, samp, kbd {
  font-family: monospace, sans-serif;
}

mark {
  color: black;
  background-color: yellow;
}

sub, sup {
  font-size: 0.83em;
  line-height: 0;
  vertical-align: baseline;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

br {
  letter-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  padding: 0;
  text-align: left;
}

th, td {
  text-align: left;
  vertical-align: baseline;
  padding: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  border: 0;
  *margin-left: -7px;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: 1em;
  color: inherit;
  margin: 0;
}

input, button {
  line-height: normal;
  vertical-align: inherit;
  *vertical-align: middle;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]:focus {
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

select {
  background-color: inherit;
  line-height: normal;
}

textarea {
  vertical-align: top;
  overflow: auto;
  *font-family: sans-serif;
}

/*
 * 0-1. clearfix
 */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * 0-2. hideText
 */
.is-hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*
 * 0-3. breakWord
 */
.is-break-word {
  word-wrap: break-word;
}

/*
 * 0-4. upperCase
 */
.is-upper-case {
  text-transform: uppercase;
}

/*
 * 標準のボックス計算クラス
 */
.is-standard-box {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/*
 * formのデフォルトスタイルを切る
 */
.re-parts {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.mod-fluid-w {
  max-width: 100%;
  width: 100%;
  height: auto;
  line-height: 0;
}

.mod-fluid-h {
  max-height: 100%;
  height: 100%;
  width: auto;
  line-height: 0;
}

/* memo randum
--------------------------------------------------------------

---------- Examples
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )

-------------------------------------------------------------- */
:root {
  font-size: 14px;
}

* {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-align: justify;
  text-justify: inter-ideograph;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  overflow-y: scroll;
  font-size: 100%;
}

/* テキスト選択時のハイライトカラー */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* タップ時のハイライトカラー */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
}

/* 
 * Web Fonts 使用時のアンチエイリアス対応 (文字色 無彩色 低明度 想定)
 */
/* windows Chorome用 */
.winchrm {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

/* windows Firefox用 */
.winff {
  text-shadow: 0 0 1px rgba(68, 68, 68, 0.2);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
}
@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}
@-webkit-keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}
@-webkit-keyframes bounceOutLeft {
  0% {
    -webkit-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}
@-webkit-keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
  80% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-10px);
  }
  20% {
    -webkit-transform: translateX(10px);
  }
  30% {
    -webkit-transform: translateX(-10px);
  }
  40% {
    -webkit-transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
  }
  60% {
    -webkit-transform: translateX(10px);
  }
  70% {
    -webkit-transform: translateX(-10px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  90% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateInUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateOutDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotateOutUpLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotateOutDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotateOutUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(200deg);
    opacity: 0;
  }
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  30% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  40% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  60% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  70% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}
@-moz-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}
@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}
@-moz-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}
@-moz-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  70% {
    -moz-transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  80% {
    -moz-transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes bounceInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes bounceInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-30px);
  }
  80% {
    -moz-transform: translateX(10px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }
  80% {
    -moz-transform: translateX(-10px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes bounceOut {
  0% {
    -moz-transform: scale(1);
  }
  25% {
    -moz-transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
}
@-moz-keyframes bounceOutUp {
  0% {
    -moz-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}
@-moz-keyframes bounceOutDown {
  0% {
    -moz-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}
@-moz-keyframes bounceOutLeft {
  0% {
    -moz-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}
@-moz-keyframes bounceOutRight {
  0% {
    -moz-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}
@-moz-keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0);
  }
  20% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  50% {
    -moz-transform: translateY(0);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
  80% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translateX(0);
  }
  10% {
    -moz-transform: translateX(-10px);
  }
  20% {
    -moz-transform: translateX(10px);
  }
  30% {
    -moz-transform: translateX(-10px);
  }
  40% {
    -moz-transform: translateX(10px);
  }
  50% {
    -moz-transform: translateX(-10px);
  }
  60% {
    -moz-transform: translateX(10px);
  }
  70% {
    -moz-transform: translateX(-10px);
  }
  80% {
    -moz-transform: translateX(10px);
  }
  90% {
    -moz-transform: translateX(-10px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-moz-keyframes rotateInDownLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInUpLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInUpRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateInDownRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateOutDownLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateOutUpLeft {
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateOutDownRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateOutUpRight {
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateIn {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-moz-keyframes rotateOut {
  0% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -moz-transform-origin: center center;
    -moz-transform: rotate(200deg);
    opacity: 0;
  }
}
@-moz-keyframes tada {
  0% {
    -moz-transform: scale(1);
  }
  10% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }
  20% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }
  30% {
    -moz-transform: scale(1.1) rotate(3deg);
  }
  40% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }
  50% {
    -moz-transform: scale(1.1) rotate(3deg);
  }
  60% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }
  70% {
    -moz-transform: scale(1.1) rotate(3deg);
  }
  80% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }
  90% {
    -moz-transform: scale(1.1) rotate(3deg);
  }
  100% {
    -moz-transform: scale(1) rotate(0);
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(20px);
  }
}
@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }
}
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -ms-transform: translateX(20px);
  }
}
@-ms-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }
}
@-ms-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }
}
@-ms-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }
}
@-ms-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }
}
@-ms-keyframes bounceIn {
  0% {
    opacity: 0;
    -ms-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -ms-transform: scale(1.05);
  }
  70% {
    -ms-transform: scale(0.9);
  }
  100% {
    -ms-transform: scale(1);
  }
}
@-ms-keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -ms-transform: translateY(30px);
  }
  80% {
    -ms-transform: translateY(-10px);
  }
  100% {
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes bounceInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -ms-transform: translateY(-30px);
  }
  80% {
    -ms-transform: translateY(10px);
  }
  100% {
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes bounceInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -ms-transform: translateX(-30px);
  }
  80% {
    -ms-transform: translateX(10px);
  }
  100% {
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -ms-transform: translateX(30px);
  }
  80% {
    -ms-transform: translateX(-10px);
  }
  100% {
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes bounceOut {
  0% {
    -ms-transform: scale(1);
  }
  25% {
    -ms-transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -ms-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -ms-transform: scale(0.3);
  }
}
@-ms-keyframes bounceOutUp {
  0% {
    -ms-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -ms-transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
  }
}
@-ms-keyframes bounceOutDown {
  0% {
    -ms-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -ms-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }
}
@-ms-keyframes bounceOutLeft {
  0% {
    -ms-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -ms-transform: translateX(20px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }
}
@-ms-keyframes bounceOutRight {
  0% {
    -ms-transform: translateX(0);
  }
  20% {
    opacity: 1;
    -ms-transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateX(2000px);
  }
}
@-ms-keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes bounce {
  0% {
    -ms-transform: translateY(0);
  }
  20% {
    -ms-transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
  }
  50% {
    -ms-transform: translateY(0);
  }
  60% {
    -ms-transform: translateY(-15px);
  }
  80% {
    -ms-transform: translateY(0);
  }
  100% {
    -ms-transform: translateY(0);
  }
}
@-ms-keyframes shake {
  0% {
    -ms-transform: translateX(0);
  }
  10% {
    -ms-transform: translateX(-10px);
  }
  20% {
    -ms-transform: translateX(10px);
  }
  30% {
    -ms-transform: translateX(-10px);
  }
  40% {
    -ms-transform: translateX(10px);
  }
  50% {
    -ms-transform: translateX(-10px);
  }
  60% {
    -ms-transform: translateX(10px);
  }
  70% {
    -ms-transform: translateX(-10px);
  }
  80% {
    -ms-transform: translateX(10px);
  }
  90% {
    -ms-transform: translateX(-10px);
  }
  100% {
    -ms-transform: translateX(0);
  }
}
@-ms-keyframes rotateInDownLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateInUpLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateInUpRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateInDownRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateOutDownLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }
}
@-ms-keyframes rotateOutUpLeft {
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-ms-keyframes rotateOutDownRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }
}
@-ms-keyframes rotateOutUpRight {
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }
}
@-ms-keyframes rotateIn {
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}
@-ms-keyframes rotateOut {
  0% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(0);
    opacity: 1;
  }
  100% {
    -ms-transform-origin: center center;
    -ms-transform: rotate(200deg);
    opacity: 0;
  }
}
@-ms-keyframes tada {
  0% {
    -ms-transform: scale(1);
  }
  10% {
    -ms-transform: scale(0.9) rotate(-3deg);
  }
  20% {
    -ms-transform: scale(0.9) rotate(-3deg);
  }
  30% {
    -ms-transform: scale(1.1) rotate(3deg);
  }
  40% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }
  50% {
    -ms-transform: scale(1.1) rotate(3deg);
  }
  60% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }
  70% {
    -ms-transform: scale(1.1) rotate(3deg);
  }
  80% {
    -ms-transform: scale(1.1) rotate(-3deg);
  }
  90% {
    -ms-transform: scale(1.1) rotate(3deg);
  }
  100% {
    -ms-transform: scale(1) rotate(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
@keyframes bounceOutUp {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}
@keyframes bounceOutDown {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}
@keyframes bounceOutLeft {
  0% {
    transform: translateX(0);
  }
  20% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
@keyframes bounceOutRight {
  0% {
    transform: translateX(0);
  }
  20% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInUpRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateOutDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes rotateOutUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
}
@keyframes rotateOutDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
}
@keyframes rotateOutUpRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotateOut {
  0% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform-origin: center center;
    transform: rotate(200deg);
    opacity: 0;
  }
}
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9) rotate(-3deg);
  }
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30% {
    transform: scale(1.1) rotate(3deg);
  }
  40% {
    transform: scale(1.1) rotate(-3deg);
  }
  50% {
    transform: scale(1.1) rotate(3deg);
  }
  60% {
    transform: scale(1.1) rotate(-3deg);
  }
  70% {
    transform: scale(1.1) rotate(3deg);
  }
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
.animate-flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -ms-animation-name: flash;
  animation-name: flash;
}

.animate-fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animate-fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animate-fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animate-fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.animate-fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -ms-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.animate-fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  animation-name: fadeOut;
}

.animate-fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -ms-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.animate-fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  -moz-animation-name: fadeOutDown;
  -ms-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

.animate-fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -ms-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.animate-fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  -moz-animation-name: fadeOutRight;
  -ms-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

.animate-fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  -moz-animation-name: fadeInUpBig;
  -ms-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

.animate-fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -ms-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

.animate-fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  -moz-animation-name: fadeInLeftBig;
  -ms-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

.animate-fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  -moz-animation-name: fadeInRightBig;
  -ms-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

.animate-fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  -moz-animation-name: fadeOutUpBig;
  -ms-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

.animate-fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  -moz-animation-name: fadeOutDownBig;
  -ms-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

.animate-fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  -moz-animation-name: fadeOutLeftBig;
  -ms-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

.animate-fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  -moz-animation-name: fadeOutRightBig;
  -ms-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

.animate-bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -ms-animation-name: bounceIn;
  animation-name: bounceIn;
}

.animate-bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -ms-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.animate-bounceInUp {
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  -ms-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.animate-bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -ms-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.animate-bounceInRight {
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -ms-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.animate-bounceOut {
  -webkit-animation-name: bounceOut;
  -moz-animation-name: bounceOut;
  -ms-animation-name: bounceOut;
  animation-name: bounceOut;
}

.animate-bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -ms-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

.animate-bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  -moz-animation-name: bounceOutDown;
  -ms-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}

.animate-bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  -moz-animation-name: bounceOutLeft;
  -ms-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}

.animate-bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  -moz-animation-name: bounceOutRight;
  -ms-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

.animate-bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
}

.animate-shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -ms-animation-name: shake;
  animation-name: shake;
}

.animate-rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  -moz-animation-name: rotateInDownLeft;
  -ms-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}

.animate-rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  -moz-animation-name: rotateInDownRight;
  -ms-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}

.animate-rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  -moz-animation-name: rotateInUpLeft;
  -ms-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}

.animate-rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
  -moz-animation-name: rotateInUpRight;
  -ms-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
}

.animate-rotateOutDownLeft {
  -webkit-animation-name: rotateOutDownLeft;
  -moz-animation-name: rotateOutDownLeft;
  -ms-animation-name: rotateOutDownLeft;
  animation-name: rotateOutDownLeft;
}

.animate-rotateOutDownRight {
  -webkit-animation-name: rotateOutDownRight;
  -moz-animation-name: rotateOutDownRight;
  -ms-animation-name: rotateOutDownRight;
  animation-name: rotateOutDownRight;
}

.animate-rotateOutUpLeft {
  -webkit-animation-name: rotateOutUpLeft;
  -moz-animation-name: rotateOutUpLeft;
  -ms-animation-name: rotateOutUpLeft;
  animation-name: rotateOutUpLeft;
}

.animate-rotateOutUpRight {
  -webkit-animation-name: rotateOutUpRight;
  -moz-animation-name: rotateOutUpRight;
  -ms-animation-name: rotateOutUpRight;
  animation-name: rotateOutUpRight;
}

.animate-rotateIn {
  -webkit-animation-name: rotateIn;
  -moz-animation-name: rotateIn;
  -ms-animation-name: rotateIn;
  animation-name: rotateIn;
}

.animate-rotateOut {
  -webkit-animation-name: rotateOut;
  -moz-animation-name: rotateOut;
  -ms-animation-name: rotateOut;
  animation-name: rotateOut;
}

.animate-tada {
  -webkit-animation-name: tada;
  -moz-animation-name: tada;
  -ms-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes $name {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@-moz-keyframes $name {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@-ms-keyframes $name {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes $name {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes $name {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes $name {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes $name {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes $name {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes $name {
  0% {
    color: transparent;
    text-shadow: 0 0 0.54545em #1E5674;
  }
  70% {
    text-shadow: 0 0 0 #1E5674;
  }
  100% {
    color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-moz-keyframes $name {
  0% {
    color: transparent;
    text-shadow: 0 0 0.54545em #1E5674;
  }
  70% {
    text-shadow: 0 0 0 #1E5674;
  }
  100% {
    color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-ms-keyframes $name {
  0% {
    color: transparent;
    text-shadow: 0 0 0.54545em #1E5674;
  }
  70% {
    text-shadow: 0 0 0 #1E5674;
  }
  100% {
    color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes $name {
  0% {
    color: transparent;
    text-shadow: 0 0 0.54545em #1E5674;
  }
  70% {
    text-shadow: 0 0 0 #1E5674;
  }
  100% {
    color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-webkit-keyframes $name {
  0% {
    color: transparent;
    text-shadow: 0 0 0 #1E5674;
  }
  30% {
    text-shadow: 0 0 1.27273em #1E5674;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: none;
  }
}
@-moz-keyframes $name {
  0% {
    color: transparent;
    text-shadow: 0 0 0 #1E5674;
  }
  30% {
    text-shadow: 0 0 1.27273em #1E5674;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: none;
  }
}
@-ms-keyframes $name {
  0% {
    color: transparent;
    text-shadow: 0 0 0 #1E5674;
  }
  30% {
    text-shadow: 0 0 1.27273em #1E5674;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: none;
  }
}
@keyframes $name {
  0% {
    color: transparent;
    text-shadow: 0 0 0 #1E5674;
  }
  30% {
    text-shadow: 0 0 1.27273em #1E5674;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: none;
  }
}
.noscript {
  position: relative;
  z-index: 5260;
  padding: 1em;
  border-bottom: #000000 solid 1px;
  background: #ffffff;
  color: #000000;
  text-align: center;
}
.noscript span {
  color: #ff0000;
}

.d {
  border: 1px solid #000000;
  background: #cccccc;
}

.l-grid-1 {
  position: relative;
  float: left;
  width: 8.33333%;
}

.l-grid-pull-1 {
  right: 8.33333%;
}

.l-grid-push-1 {
  left: 8.33333%;
}

.l-grid-2 {
  position: relative;
  float: left;
  width: 16.66667%;
}

.l-grid-pull-2 {
  right: 16.66667%;
}

.l-grid-push-2 {
  left: 16.66667%;
}

.l-grid-3 {
  position: relative;
  float: left;
  width: 25%;
}

.l-grid-pull-3 {
  right: 25%;
}

.l-grid-push-3 {
  left: 25%;
}

.l-grid-4 {
  position: relative;
  float: left;
  width: 33.33333%;
}

.l-grid-pull-4 {
  right: 33.33333%;
}

.l-grid-push-4 {
  left: 33.33333%;
}

.l-grid-5 {
  position: relative;
  float: left;
  width: 41.66667%;
}

.l-grid-pull-5 {
  right: 41.66667%;
}

.l-grid-push-5 {
  left: 41.66667%;
}

.l-grid-6 {
  position: relative;
  float: left;
  width: 50%;
}

.l-grid-pull-6 {
  right: 50%;
}

.l-grid-push-6 {
  left: 50%;
}

.l-grid-7 {
  position: relative;
  float: left;
  width: 58.33333%;
}

.l-grid-pull-7 {
  right: 58.33333%;
}

.l-grid-push-7 {
  left: 58.33333%;
}

.l-grid-8 {
  position: relative;
  float: left;
  width: 66.66667%;
}

.l-grid-pull-8 {
  right: 66.66667%;
}

.l-grid-push-8 {
  left: 66.66667%;
}

.l-grid-9 {
  position: relative;
  float: left;
  width: 75%;
}

.l-grid-pull-9 {
  right: 75%;
}

.l-grid-push-9 {
  left: 75%;
}

.l-grid-10 {
  position: relative;
  float: left;
  width: 83.33333%;
}

.l-grid-pull-10 {
  right: 83.33333%;
}

.l-grid-push-10 {
  left: 83.33333%;
}

.l-grid-11 {
  position: relative;
  float: left;
  width: 91.66667%;
}

.l-grid-pull-11 {
  right: 91.66667%;
}

.l-grid-push-11 {
  left: 91.66667%;
}

.l-grid-12 {
  position: relative;
  float: left;
  width: 100%;
}

.l-grid-pull-12 {
  right: 100%;
}

.l-grid-push-12 {
  left: 100%;
}

.l-index-1 {
  z-index: 1;
}

.l-index-2 {
  z-index: 2;
}

.l-index-3 {
  z-index: 3;
}

.l-index-4 {
  z-index: 4;
}

.l-index-5 {
  z-index: 5;
}

.l-index-6 {
  z-index: 6;
}

.l-index-7 {
  z-index: 7;
}

.l-index-8 {
  z-index: 8;
}

.l-index-9 {
  z-index: 9;
}

.l-index-10 {
  z-index: 10;
}

.l-full {
  position: relative;
  width: 100%;
  min-width: 980;
  min-width: 70rem;
  height: 100%;
  min-height: 600;
  min-height: 42.85714rem;
}

.l-fix {
  position: fixed;
}

/* =============================================================================
		Media Queries
	 ========================================================================== */
/* デフォルト：960px以上用（PC用）の記述 */
/* 767px以下用（タブレット／スマートフォン用）の記述 */
/* 479px以下用（スマートフォン用）の記述 */
/* Retinaディスプレイ用の指定 */
/* Androidの高精細画面も含めた指定 */
/* 紙媒体でのスタイル */
/* =============================================================================
		End. Media Queries
	 ========================================================================== */
