@charset "UTF-8";
@-webkit-keyframes showText {
  0% {
    text-shadow: 0 0 1em #002469;
  }
  100% {
    color: #002469;
    text-shadow: 0 0 0 #002469;
  }
}
@-moz-keyframes showText {
  0% {
    text-shadow: 0 0 1em #002469;
  }
  100% {
    color: #002469;
    text-shadow: 0 0 0 #002469;
  }
}
@-ms-keyframes showText {
  0% {
    text-shadow: 0 0 1em #002469;
  }
  100% {
    color: #002469;
    text-shadow: 0 0 0 #002469;
  }
}
@keyframes showText {
  0% {
    text-shadow: 0 0 1em #002469;
  }
  100% {
    color: #002469;
    text-shadow: 0 0 0 #002469;
  }
}
@-webkit-keyframes showBlur {
  0% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=(cast(10)));
  }
}
@-moz-keyframes showBlur {
  0% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=(cast(10)));
  }
}
@-ms-keyframes showBlur {
  0% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=(cast(10)));
  }
}
@keyframes showBlur {
  0% {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=(cast(10)));
  }
}
/* memo randum
--------------------------------------------------------------

---------- Examples
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )

-------------------------------------------------------------- */
section, nav, article, aside, hgroup, header, footer, figure, figcaption, details {
  display: block;
}

video, audio, canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin: 0;
}

p, blockquote, dl, dd, figure {
  margin: 0;
}

hr {
  color: inherit;
  height: auto;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

pre {
  font-family: monospace, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

ol, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

strong, b {
  font-weight: bold;
}

small {
  font-size: 0.83em;
}

q {
  quotes: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

code, samp, kbd {
  font-family: monospace, sans-serif;
}

mark {
  color: black;
  background-color: yellow;
}

sub, sup {
  font-size: 0.83em;
  line-height: 0;
  vertical-align: baseline;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

br {
  letter-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  padding: 0;
  text-align: left;
}

th, td {
  text-align: left;
  vertical-align: baseline;
  padding: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  border: 0;
  *margin-left: -7px;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: 1em;
  color: inherit;
  margin: 0;
}

input, button {
  line-height: normal;
  vertical-align: inherit;
  *vertical-align: middle;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]:focus {
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

select {
  background-color: inherit;
  line-height: normal;
}

textarea {
  vertical-align: top;
  overflow: auto;
  *font-family: sans-serif;
}

:root {
  font-size: 10px;
}

* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-align: justify;
  text-justify: inter-ideograph;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

html {
  overflow-y: scroll;
  font-size: 100%;
}

/* テキスト選択時のハイライトカラー */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* タップ時のハイライトカラー */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
}

/* =============================================================================
    Module
   ========================================================================== */
@font-face {
  font-family: 'NotoSansCJKjp-Light';
  src: url("/-/hiranomami/common/fonts/NotoSansCJKjp-Light-J1.eot");
  src: url("/-/hiranomami/common/fonts/NotoSansCJKjp-Light-J1.eot?#iefix") format("embedded-opentype"), url("/-/hiranomami/common/fonts/NotoSansCJKjp-Light-J1.woff") format("woff"), url("/-/hiranomami/common/fonts/NotoSansCJKjp-Light-J1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansCJKjp-Thin';
  src: url("/-/hiranomami/common/fonts/NotoSansCJKjp-Thin-J1.eot");
  src: url("/-/hiranomami/common/fonts/NotoSansCJKjp-Thin-J1.eot?#iefix") format("embedded-opentype"), url("/-/hiranomami/common/fonts/NotoSansCJKjp-Thin-J1.woff") format("woff"), url("/-/hiranomami/common/fonts/NotoSansCJKjp-Thin-J1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url("/-/hiranomami/common/fonts/icons.eot");
  src: url("/-/hiranomami/common/fonts/icons.eot?#iefix") format("embedded-opentype"), url("/-/hiranomami/common/fonts/icons.woff") format("woff"), url("/-/hiranomami/common/fonts/icons.ttf") format("truetype"), url("/-/hiranomami/common/fonts/icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-window:before {
  content: "\e600";
}

.button {
  -webkit-background-clip: padding-box;
  border: 1px solid #000000;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
  display: block;
}
.button .button-label {
  color: #000000;
  display: block;
  text-align: center;
  letter-spacing: 0.002em;
  line-height: 2.9;
}

/* =============================================================================
    State
   ========================================================================== */
.is-debug {
  -moz-box-shadow: black 0px 0px 0px 1px inset;
  -webkit-box-shadow: black 0px 0px 0px 1px inset;
  box-shadow: black 0px 0px 0px 1px inset;
  background-color: rgba(204, 204, 204, 0.5);
}
.is-debug * {
  -moz-box-shadow: black 0px 0px 0px 1px inset;
  -webkit-box-shadow: black 0px 0px 0px 1px inset;
  box-shadow: black 0px 0px 0px 1px inset;
  background-color: rgba(204, 204, 204, 0.5);
}

.is-hidden {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  clip: rect(0 0 0 0);
}

.is-invisibility {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.is-transparent {
  color: transparent;
}

/* =============================================================================
    Layout
   ========================================================================== */
.l-container-24 {
  width: 100%;
  max-width: 680px;
  padding: 0 10px;
  margin: 0 auto;
}

.l-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.l-index-1 {
  z-index: 1;
}

.l-index-2 {
  z-index: 2;
}

.l-index-3 {
  z-index: 3;
}

.l-index-4 {
  z-index: 4;
}

.l-index-5 {
  z-index: 5;
}

.l-index-6 {
  z-index: 6;
}

.l-index-7 {
  z-index: 7;
}

.l-index-8 {
  z-index: 8;
}

.l-index-9 {
  z-index: 9;
}

.l-index-10 {
  z-index: 10;
}

.l-index-11 {
  z-index: 11;
}

.l-index-12 {
  z-index: 12;
}

.l-index-13 {
  z-index: 13;
}

.l-index-14 {
  z-index: 14;
}

.l-index-15 {
  z-index: 15;
}

.l-index-16 {
  z-index: 16;
}

.l-index-17 {
  z-index: 17;
}

.l-index-18 {
  z-index: 18;
}

.l-index-19 {
  z-index: 19;
}

.l-index-20 {
  z-index: 20;
}

.l-index-21 {
  z-index: 21;
}

.l-index-22 {
  z-index: 22;
}

.l-index-23 {
  z-index: 23;
}

.l-index-24 {
  z-index: 24;
}

.l-index-25 {
  z-index: 25;
}

.l-index-26 {
  z-index: 26;
}

.l-index-27 {
  z-index: 27;
}

.l-index-28 {
  z-index: 28;
}

.l-index-29 {
  z-index: 29;
}

.l-index-30 {
  z-index: 30;
}

.l-index-31 {
  z-index: 31;
}

.l-index-32 {
  z-index: 32;
}

.l-index-33 {
  z-index: 33;
}

.l-index-34 {
  z-index: 34;
}

.l-index-35 {
  z-index: 35;
}

.l-index-36 {
  z-index: 36;
}

.l-index-37 {
  z-index: 37;
}

.l-index-38 {
  z-index: 38;
}

.l-index-39 {
  z-index: 39;
}

.l-index-40 {
  z-index: 40;
}

.l-index-41 {
  z-index: 41;
}

.l-index-42 {
  z-index: 42;
}

.l-index-43 {
  z-index: 43;
}

.l-index-44 {
  z-index: 44;
}

.l-index-45 {
  z-index: 45;
}

.l-index-46 {
  z-index: 46;
}

.l-index-47 {
  z-index: 47;
}

.l-index-48 {
  z-index: 48;
}

.l-index-49 {
  z-index: 49;
}

.l-index-50 {
  z-index: 50;
}

.l-index-51 {
  z-index: 51;
}

.l-index-52 {
  z-index: 52;
}

.l-index-53 {
  z-index: 53;
}

.l-index-54 {
  z-index: 54;
}

.l-index-55 {
  z-index: 55;
}

.l-index-56 {
  z-index: 56;
}

.l-index-57 {
  z-index: 57;
}

.l-index-58 {
  z-index: 58;
}

.l-index-59 {
  z-index: 59;
}

.l-index-60 {
  z-index: 60;
}

.l-index-61 {
  z-index: 61;
}

.l-index-62 {
  z-index: 62;
}

.l-index-63 {
  z-index: 63;
}

.l-index-64 {
  z-index: 64;
}

.l-index-65 {
  z-index: 65;
}

.l-index-66 {
  z-index: 66;
}

.l-index-67 {
  z-index: 67;
}

.l-index-68 {
  z-index: 68;
}

.l-index-69 {
  z-index: 69;
}

.l-index-70 {
  z-index: 70;
}

.l-index-71 {
  z-index: 71;
}

.l-index-72 {
  z-index: 72;
}

.l-index-73 {
  z-index: 73;
}

.l-index-74 {
  z-index: 74;
}

.l-index-75 {
  z-index: 75;
}

.l-index-76 {
  z-index: 76;
}

.l-index-77 {
  z-index: 77;
}

.l-index-78 {
  z-index: 78;
}

.l-index-79 {
  z-index: 79;
}

.l-index-80 {
  z-index: 80;
}

.l-index-81 {
  z-index: 81;
}

.l-index-82 {
  z-index: 82;
}

.l-index-83 {
  z-index: 83;
}

.l-index-84 {
  z-index: 84;
}

.l-index-85 {
  z-index: 85;
}

.l-index-86 {
  z-index: 86;
}

.l-index-87 {
  z-index: 87;
}

.l-index-88 {
  z-index: 88;
}

.l-index-89 {
  z-index: 89;
}

.l-index-90 {
  z-index: 90;
}

.l-index-91 {
  z-index: 91;
}

.l-index-92 {
  z-index: 92;
}

.l-index-93 {
  z-index: 93;
}

.l-index-94 {
  z-index: 94;
}

.l-index-95 {
  z-index: 95;
}

.l-index-96 {
  z-index: 96;
}

.l-index-97 {
  z-index: 97;
}

.l-index-98 {
  z-index: 98;
}

.l-index-99 {
  z-index: 99;
}

.l-index-100 {
  z-index: 100;
}

.l-container-wrapper {
  width: 100%;
}

.l-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.l-container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 900px) {
  .l-container {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .l-container {
    width: 100%;
  }
}
@media (max-width: 599px) {
  .l-container {
    width: 100%;
  }
}

.l-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.l-container-fluid:after {
  content: "";
  display: table;
  clear: both;
}

.l-row {
  margin-left: -10px;
  margin-right: -10px;
}
.l-row:after {
  content: "";
  display: table;
  clear: both;
}

.l-col-xs-1, .l-col-sm-1, .l-col-md-1, .l-col-lg-1, .l-col-xs-2, .l-col-sm-2, .l-col-md-2, .l-col-lg-2, .l-col-xs-3, .l-col-sm-3, .l-col-md-3, .l-col-lg-3, .l-col-xs-4, .l-col-sm-4, .l-col-md-4, .l-col-lg-4, .l-col-xs-5, .l-col-sm-5, .l-col-md-5, .l-col-lg-5, .l-col-xs-6, .l-col-sm-6, .l-col-md-6, .l-col-lg-6, .l-col-xs-7, .l-col-sm-7, .l-col-md-7, .l-col-lg-7, .l-col-xs-8, .l-col-sm-8, .l-col-md-8, .l-col-lg-8, .l-col-xs-9, .l-col-sm-9, .l-col-md-9, .l-col-lg-9, .l-col-xs-10, .l-col-sm-10, .l-col-md-10, .l-col-lg-10, .l-col-xs-11, .l-col-sm-11, .l-col-md-11, .l-col-lg-11, .l-col-xs-12, .l-col-sm-12, .l-col-md-12, .l-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.l-container-24 {
  width: 100%;
  max-width: 680px;
  padding: 0 10px;
  margin: 0 auto;
}

.l-col-xs-1, .l-col-xs-2, .l-col-xs-3, .l-col-xs-4, .l-col-xs-5, .l-col-xs-6, .l-col-xs-7, .l-col-xs-8, .l-col-xs-9, .l-col-xs-10, .l-col-xs-11, .l-col-xs-12 {
  float: left;
}

.l-col-xs-1 {
  width: 8.33333%;
}

.l-col-xs-2 {
  width: 16.66667%;
}

.l-col-xs-3 {
  width: 25%;
}

.l-col-xs-4 {
  width: 33.33333%;
}

.l-col-xs-5 {
  width: 41.66667%;
}

.l-col-xs-6 {
  width: 50%;
}

.l-col-xs-7 {
  width: 58.33333%;
}

.l-col-xs-8 {
  width: 66.66667%;
}

.l-col-xs-9 {
  width: 75%;
}

.l-col-xs-10 {
  width: 83.33333%;
}

.l-col-xs-11 {
  width: 91.66667%;
}

.l-col-xs-12 {
  width: 100%;
}

.l-col-xs-pull-0 {
  right: auto;
}

.l-col-xs-pull-1 {
  right: 8.33333%;
}

.l-col-xs-pull-2 {
  right: 16.66667%;
}

.l-col-xs-pull-3 {
  right: 25%;
}

.l-col-xs-pull-4 {
  right: 33.33333%;
}

.l-col-xs-pull-5 {
  right: 41.66667%;
}

.l-col-xs-pull-6 {
  right: 50%;
}

.l-col-xs-pull-7 {
  right: 58.33333%;
}

.l-col-xs-pull-8 {
  right: 66.66667%;
}

.l-col-xs-pull-9 {
  right: 75%;
}

.l-col-xs-pull-10 {
  right: 83.33333%;
}

.l-col-xs-pull-11 {
  right: 91.66667%;
}

.l-col-xs-pull-12 {
  right: 100%;
}

.l-col-xs-push-0 {
  left: auto;
}

.l-col-xs-push-1 {
  left: 8.33333%;
}

.l-col-xs-push-2 {
  left: 16.66667%;
}

.l-col-xs-push-3 {
  left: 25%;
}

.l-col-xs-push-4 {
  left: 33.33333%;
}

.l-col-xs-push-5 {
  left: 41.66667%;
}

.l-col-xs-push-6 {
  left: 50%;
}

.l-col-xs-push-7 {
  left: 58.33333%;
}

.l-col-xs-push-8 {
  left: 66.66667%;
}

.l-col-xs-push-9 {
  left: 75%;
}

.l-col-xs-push-10 {
  left: 83.33333%;
}

.l-col-xs-push-11 {
  left: 91.66667%;
}

.l-col-xs-push-12 {
  left: 100%;
}

.l-col-xs-offset-0 {
  margin-left: 0%;
}

.l-col-xs-offset-1 {
  margin-left: 8.33333%;
}

.l-col-xs-offset-2 {
  margin-left: 16.66667%;
}

.l-col-xs-offset-3 {
  margin-left: 25%;
}

.l-col-xs-offset-4 {
  margin-left: 33.33333%;
}

.l-col-xs-offset-5 {
  margin-left: 41.66667%;
}

.l-col-xs-offset-6 {
  margin-left: 50%;
}

.l-col-xs-offset-7 {
  margin-left: 58.33333%;
}

.l-col-xs-offset-8 {
  margin-left: 66.66667%;
}

.l-col-xs-offset-9 {
  margin-left: 75%;
}

.l-col-xs-offset-10 {
  margin-left: 83.33333%;
}

.l-col-xs-offset-11 {
  margin-left: 91.66667%;
}

.l-col-xs-offset-12 {
  margin-left: 100%;
}

.l-fluid-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  line-height: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Verdana, Roboto, "Droid Sans", "小塚ゴシック Pro R", "Kozuka Gothic Pro R", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

a {
  color: #222222;
  text-decoration: none;
}

a:link {
  color: #222222;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #676767;
  -moz-outline-style: none;
  outline: none;
}
