@import "compass";

@import "core/_import.scss";
@import "normalize/_import.scss";

@import "module/_import.scss";

@import "layout/_import.scss";

@import "state/_import.scss";

$baseWidth: 680px;
$baseInnerWidth: $baseWidth - $grid-gutter-width;

// @font-face{ 
//   font-family: 'NotoSansCJKjp';
//   src: url('#{$path-common}fonts/NotoSansCJKjp-Light-J1.eot');
//   src: url('#{$path-common}fonts/NotoSansCJKjp-Light-J1.eot?#iefix') format('embedded-opentype'),
//     url('#{$path-common}fonts/NotoSansCJKjp-Light-J1.woff') format('woff'),
//     url('#{$path-common}fonts/NotoSansCJKjp-Light-J1.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face{ 
//   font-family: 'NotoSansCJKjp-Light';
//   src: url('#{$path-common}fonts/NotoSansCJKjp-Thin-J1.eot');
//   src: url('#{$path-common}fonts/NotoSansCJKjp-Thin-J1.eot?#iefix') format('embedded-opentype'),
//     url('#{$path-common}fonts/NotoSansCJKjp-Thin-J1.woff') format('woff'),
//     url('#{$path-common}fonts/NotoSansCJKjp-Thin-J1.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }




/* =============================================================================
    Layout
   ========================================================================== */
.l-container-24 {
  width: 100%;
  max-width: $baseWidth;
  padding: 0 ($grid-gutter-width / 2);
  margin: 0 auto;
}

.l-clearfix {
  @include clearfix;
}

@for $i from 1 through 100 {
  .l-index-#{$i} {
    z-index: $i;
  }
}

.l-container-wrapper {
  width: 100%;
}

.l-container {
  @include container-fixed;
  @include mq-large {
    width: 100%;
  }
  @include mq-middle {
    width: 100%;
  }
  @include mq-small {
    width: 100%;
  }
}

.l-container-fluid {
  @include container-fixed;
}

.l-row {
  @include make-row;
}

@include make-grid-columns;

.l-container-24 {
  width: 100%;
  max-width: $baseWidth;
  padding: 0 ($grid-gutter-width / 2);
  margin: 0 auto;
}

@include make-grid(xs);

.l-fixed {}

.l-heading-xxx-large {}

.l-heading-xx-large {}

.l-heading-x-large {}

.l-heading-large {}

.l-heading-medium {}

.l-heading-small {}

.l-heading-x-small {}

.l-heading-xx-small {}

.l-heading-xxx-small {}

.l-fluid-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  line-height: 0;
}

%l-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}


// single animate
// @include single-animation(showBlur, 0.6s, ease, 0.8s, both);

// animate
// @include transition-property(all);
// @include transition-duration(0.3s);
// @include transition-timing-function(ease);

// rem
// @include remod(font-size, $font-size);

// image size get
// $this-width: image-width("#{$path-absolute-img}images/xxx.png");
// $this-height: image-height("#{$path-absolute-img}images/xxx.png");

// relative
// width: percentage($this-width / $baseWidth);

// background-image
// background-image: url("#{$path-absolute-img}xxx.png");


html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-family-body;
  width: 480px;
  padding: 20px;
}

a {
  color: #222222;
  text-decoration: none;
}
a:link {
  color: #222222;
  text-decoration: none;
}
a:visited {}
a:hover,
a:active,
a:focus {
  color: #676767;
  -moz-outline-style: none;
  outline: none;
}

// .android {
//   * {
//     background-image: url("../../images/spacer.gif");
//     max-height: 999999px;
//   }
// }























